body{
    background-color: honeydew;
}

.item-div{
    background-color: white;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 15em;
    height: 20em;
    box-sizing: border-box;
    border:.10em solid grey;
    border-radius: .5em;
    margin: 1em;
    padding: 1em;
    box-sizing: border-box;
    opacity: 1;
    text-align: center;
}

.item-list-image {
    display: inline-block;
    width: 12em;
    height: 15em;
    margin: .1em;
    padding: auto;
   vertical-align: middle;
}

.item-list-name {
    display: inline-block;
    text-align: center;
    margin: .1em;
    padding: auto;
   vertical-align: middle;

}

.item-list-price {
    display: inline-block;
    text-align: center;
    margin: .1em;
    padding: auto;
   vertical-align: middle;
}

.item-list-button {
    display: inline-block;
    width: 7em;
    height: 3em;
    vertical-align: middle;
}

.item-display-image {
    display: inline-block;
    width: 15em;
    height: 18em;
}

.item-display-button {
    display: inline-block;
    width: 7em;
    height: 3em;
    vertical-align: middle;
    margin: 1em;
}

.main-item-container {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    width: 80%;
    height: 100%;
    margin: auto;
    padding: auto
}

.shopping-app-h1 {
    color: darkgray;
    text-align: center;
}

.shopping-app-h3 {
    color: darkgray;
    text-align: center
}

.form {
    text-align: center;
}

.cart-item-div {
    background-color: white;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 20em;
    height: 26em;
    box-sizing: border-box;
    border:.10em solid grey;
    border-radius: .5em;
    margin: 1em;
    padding: 1em;
    box-sizing: border-box;
    opacity: 1;
    text-align: center;
}

.order-submit-button{
    width: 8em;
    height: 5em;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
}

.order-submit-button-div{
    text-align: center;
}

